.container.center-form.my-4
  %h2 Resend confirmation instructions

  = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!

    .form-group
      = f.label :email
      = f.email_field :email,
                      autofocus: true,
                      autocomplete: "email",
                      value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                      class: 'form-control',
                      required: true

    .form-actions.mt-4.text-center
      = f.submit "Resend confirmation email", class: 'btn btn-primary px-5'

  = render "devise/shared/links"
