.container
  = form_for :search, method: :get, url: search_path, html: { class: 'form--search' } do |f|
    .form-group
      %i.fas.fa-search.form-control-icon
      = f.search_field :name,
                       name: 'q',
                       value: params[:q],
                       class: 'form-control',
                       placeholder: 'Search songs by name'

  %ul.card-list.px-2.my-0
    - @versions.each do |version|
      %li.card-list-item
        = link_to song_version_path(version.song, version), class: "card-list-item__link #{'active' if version == @version}" do
          - if version.lang
            %i.card-list-item__icon{class: "flag-#{version.lang}"}

          %div
            %span.card-list-item__title= version.title
            - if version.key.present?
              in #{version.key}

          - if version.author
            .card-list-item__subtitle= version.author
