%nav.bg-light.py-2.mt-negative.mb-4
  .container
    %ul.nav.nav-pills
      %li.nav-item.py-2.pr-3.text-muted
        Legal
      %li.nav-item
        = link_to 'Terms and conditions', terms_path, class: 'nav-link active'
      %li.nav-item
        = link_to 'Privacy Policy', privacy_path, class: 'nav-link'

.container
  %h1 Terms and Conditions
  %p.upcase.text-muted July 05, 2018

  %p
    #{site_name} ("us", "we", or "our") operates the
    = link_to site_domain, "//#{site_domain}"
    website (the "Service").

  %h3.mt-5.mb-0 1. Terms
  %p.lead.text-info
    If you use the site, continue reading.
  %p
    By accessing the website at
    = link_to site_domain, "//#{site_domain}"
    you are agreeing to be bound by these terms of service, all applicable laws and regulations,
    and agree that you are responsible for compliance with any applicable local laws. If you do not
    agree with any of these terms, you are prohibited from using or accessing this site. The materials
    contained in this website are protected by applicable copyright and trademark law.

  %h3.mt-5.mb-0 2. Use License
  %p.lead.text-info
    We expect you to be responsible when downloading content.

  %ol{:type => "a"}
    %li
      Permission is granted to download or print materials on our website for personal, non-commercial transitory
      viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
      %ol{:type => "i"}
        %li use the materials for any commercial purpose;
        %li attempt to decompile or reverse engineer any software contained on #{site_name}'s website;
        %li remove any copyright or other proprietary notations from the materials; or
        %li transfer the materials to another person or "mirror" the materials on any other server.

    %li
      This license shall automatically terminate if you violate any of these restrictions and may be terminated by
      #{site_name} at any time. Upon terminating your viewing of these materials or upon the termination of this license,
      you must destroy any downloaded materials in your possession whether in electronic or printed format.

    %li
      When presenting or downloading material from our service, you are responsible for your own compliance
      with appropriate laws, including (but not limited to) CCLI licensing and royalty management.

  %h3.mt-5.mb-0 3. Account Creation
  %p.lead.text-info
    You can create a personal account if you're over 18 and promise to behave.
  %ol{type: 'a'}
    %li
      #{site_name} allows you to create an account on our site, for the purpose of providing user content.
      Account holders must be at least 18 years of age. When creating an account you consent to providing us
      with certain personal information which is outlined in our #{link_to 'Privacy Policy', privacy_path}.
    %li
      We reserve the right to deny account creation, or to remove accounts of users who do not comply
      to our terms of service, or in good faith by our judgment.

  %h3.mt-5.mb-0 4. Public and Private User Content
  %p.lead.text-info
    We expect your permission to publicly display your profile and songs to other people.
  %p
    In order to provide this service to you in accordance with these terms, we need certain licenses from you in
    order for us to, e.g., host, store and display the content. For example, we need the right to publicly
    display it on the computer monitor of any party who is not the copyright holder. We need the right
    to reproduce the content so that it can be saved to our servers. We need to create derivative works
    and modify the content.

  %ol{:type => 'a'}
    %li
      With respect to Private User Content, you hereby do and shall grant to #{site_name} (and its successors) a
      worldwide, non-exclusive, revocable, royalty-free, fully paid, sublicensable, and transferable license
      to use, host, store, reproduce, modify, create derivative works, communicate, publish, publicly perform,
      publicly display, distribute and transmit the content for the purpose of providing our service to the public.
      This license ends when you delete your Private User Content or your account is closed.

    %li
      With respect to Public User Content, you hereby do and shall grant to #{site_name} (and its successors)
      a worldwide, non-exclusive, revocable, royalty-free, fully paid, sublicensable, and transferable license
      to use, host, store, reproduce, modify, create derivative works, communicate, publish, publicly perform,
      publicly display, distribute and transmit the content:
      %ol{:type => 'i'}
        %li
          for the purpose of providing you and the public with our service; and
        %li
          in connection with promotion and marketing of our products and services, including without limitation
          allowing third parties to search or index the content, in connection with email promotions,
          product demonstrations, and the like. This license ends when you delete your Public User Content
          or your account is closed (either by you or by us), except:
          %ol{:type => '1'}
            %li to the extent that your Public User Content has been shared with others and they have not deleted it and
            %li that we retain a license to maintain a back-up copy of Public User Content indefinitely.

  %p
    Regardless of whether you designate content public or private, we make no claim of ownership to your
    User Content, and obtain no rights to your content other than as provided for herein.

  %h3.mt-5.mb-0 5. Conduct
  %p.lead.text-info
    Be kind. Do good. Live righteously.

  %p
    When you upload content to our site, you take responsibility for the content and any harm or damages
    it could cause.

  %ol{:type => 'a'}
    %li
      You agree not to upload viruses or malicious code, or do anything that could disable, overburden or
      impair the proper working or appearance of our service.
    %li
      You will not use our service to upload any content that is unlawful, misleading, hateful, discriminatory
      or fraudulent, or which infringes or breaches someone else's rights.
    %li
      You will not use our service to upload any content which can be considered inappropriate for younger
      audiences, including (but not limited to) excessive foul language, sexually provocative content,
      or violence.

  %h3.mt-5.mb-0 6. Disclaimer
  %p.lead.text-info
    We really do our best to provide a good service, but can't promise that things will never go wrong.

  %ol{:type => "a"}
    %li
      The materials on #{site_name}'s website are provided on an 'as is' basis. #{site_name} makes no warranties,
      expressed or implied, and hereby disclaims and negates all other warranties including, without limitation,
      implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement
      of intellectual property or other violation of rights.

    %li
      Further, #{site_name} does not warrant or make any representations concerning the accuracy, likely results,
      or reliability of the use of the materials on its website or otherwise relating to such materials or
      on any sites linked to this site.

  %h3.mt-5.mb-0 7. Limitations
  %p.lead.text-info
    If you were relying on this site's 100% stability and were disappointed, we can't pay you back for it.
  %p
    In no event shall #{site_name} or its suppliers be liable for any damages (including, without limitation,
    damages for loss of data or profit, or due to business interruption) arising out of the use or inability
    to use the materials on #{site_name}'s website, even if #{site_name} or an authorized representative
    has been notified orally or in writing of the possibility of such damage. Because some jurisdictions
    do not allow limitations on implied warranties, or limitations of liability for consequential or
    incidental damages, these limitations may not apply to you.

  %h3.mt-5.mb-0 8. Accuracy of materials
  %p.lead.text-info
    Some of the content could be misspelt, or attributed to the wrong author. We can't keep track
    of everything.
  %p
    The materials appearing on #{site_name}'s website could include technical, typographical, or
    photographic errors. #{site_name} does not warrant that any of the materials on its website are accurate,
    complete or current. #{site_name} may make changes to the materials contained on its website at any
    time without notice. However #{site_name} does not make any commitment to update the materials.

  %h3.mt-5.mb-0 9. Links
  %p.lead.text-info
    We can't keep track of the integrity of every site we link to.
  %p
    #{site_name} has not reviewed all of the sites linked to its website and is not responsible for
    the contents of any such linked site. The inclusion of any link does not imply endorsement by
    #{site_name} of the site. Use of any such linked website is at the user's own risk.

  %h3.mt-5.mb-0 10. Modifications
  %p.lead.text-info
    Laws change and so will these terms from time to time.
  %p
    #{site_name} may revise these terms of service for its website at any time without notice. By
    using this website you are agreeing to be bound by the then current version of these terms
    of service.

  %h3.mt-5.mb-0 11. Governing Law
  %p.lead.text-info
    Expect a gendarme at your door if you break the law.
  %p
    These terms and conditions are governed by and construed in accordance with European law and you
    irrevocably submit to the exclusive jurisdiction of the courts in that State or location.
