.navbar.no-print.bg-light.px-0
  .container.flex-nowrap.navbar-expand.px-2
    .setlist-actions.navbar-nav
      .nav-item
        = link_to 'javascript:void(0)',
                      class: 'nav-link js-toggle-songs mr-2' do
          %i.fas.fa-list
          %span.d-none.d-md-inline.ml-1 Songs

    .setlist-title
      %span= title @setlist.to_s
      - if can? :update, @setlist
        = link_to edit_setlist_path(@setlist),
                  class: 'd-none d-md-inline ml-2' do
          %i.fas.fa-pen

    .setlist-actions.navbar-nav
      .nav-item.ml-auto
        = link_to 'javascript:void(0)',
                    class: 'nav-link',
                    title: 'Full screen',
                    data: { toggle: 'tooltip', delay: 1 } do
          %i.fas.fa-tv
      - if can? :update, @setlist
        .nav-item
          = link_to edit_setlist_setlist_version_path(@setlist, @setlist.setlist_versions.first),
                      class: 'nav-link',
                      title: 'Edit song',
                      id: 'edit_song_link',
                      data: { toggle: 'tooltip', delay: 1 } do
            %i.fas.fa-pencil-alt
