.card-list-header.d-block.d-md-none.d-lg-block.card-list-link--icon
  .row
    .col
      Title
    .col-key
      Key

%ul.card-list#setlist-versions{ class: ('sortable' if can?(:update, @setlist)) }
  - @setlist.setlist_versions.ordered.decorate.each_with_index do |setlist_version, index|

    %li.card-list-item.setlist-version{ data: { id: setlist_version.to_param }}
      - if can?(:update, @setlist)
        .card-list-item__icon.card-list-item__drag
          %i.fas.fa-bars.fa-fw.d-block
      = link_to setlist_path(@setlist),
                class: "card-list-link #{'active' if index == 0} #{'card-list-link--icon' if can?(:update, @setlist)}",
                data: { id: setlist_version.to_param } do
        .row
          .col
            .card-list-item__title= setlist_version.title
          .col-key.card-list-item__key
            = render_key Transposer.transpose_key key: setlist_version.key, by: setlist_version.transpose
