.card-list-header.d-block.d-md-none.d-lg-block
  .row
    .col
      Title
    .col-key
      Key

%ul.card-list#setlist-versions
  - @setlist.setlist_versions.ordered.includes(:version).each_with_index do |setlist_version, index|
    - version = setlist_version.version.decorate

    %li.card-list-item.setlist-version{ data: { id: setlist_version.to_param }}
      = link_to setlist_path(@setlist), class: "card-list-link #{'active' if index == 0}" do
        .card-list-item__icon.card-list-item__drag
          %i.fas.fa-bars.fa-fw.d-block
        .row
          .col
            .card-list-item__title= version.title
            .card-list-item__subtitle= version.author_name
          .col-key.card-list-item__key
            = version.key
