%ul.card-list#setlist-versions
  - @setlist.setlist_versions.ordered.includes(:version).each_with_index do |setlist_version, index|
    - version = setlist_version.version.decorate
    %li.card-list-item.setlist-version{ data: { id: setlist_version.to_param }}
      .card-list-item__icon.card-list-item__drag
        %i.fas.fa-bars.fa-fw
      = link_to setlist_path(@setlist), class: "card-list-item__link #{'active' if index == 0}" do
        .card-list-item__title= version.title
        - if version.key.present? || version.author_name.present?
          .card-list-item__subtitle
            - if version.key.present?
              %span.card-list-item__key= version.key
            - if version.author
              %span.card-list-item__author= version.author
