.container.margin-content
  .text-center
    - if @user == current_user
      %h1= title "Your Profile"
      - if @user.provider == 'facebook'
        .upcase.text-muted You are connected with Facebook
      - elsif @user.provider == 'google_oauth2'
        .upcase.text-muted You are connected with Google
    - else
      %h1= title @user.name
      .upcase.text-muted Member since #{@user.created_at.strftime('%B %Y')}

  = image_tag @user.image, class: 'avatar avatar--hr', alt: 'Profile picture'
  %hr

  .row
    .col-md-6.order-md-1
      = render 'setlists'

    .col-md-6.order-md-0
      = render 'versions'

  - if @user == current_user
    .mb-4.text-center
      = link_to logout_path, method: :delete, class: 'btn btn-sm btn-outline-secondary' do
        %i.fas.fa-sign-out-alt
        Sign out
