.container
  .text-center
    - if @user == current_user
      %h1= title "Your Profile"
      .upcase.text-muted You are connected with Facebook
    - else
      %h1= title @user.name

  = image_tag @user.image, class: 'avatar avatar--hr', alt: 'Profile picture'
  %hr

  .row.mb-4
    .col-sm-6.offset-lg-2.mb-4
      .card
        - if @user.versions.present?
          - if @user == current_user && can?(:create, Version)
            .card-header
              .btn-group
                = link_to 'javascript:void(0)', class: "btn btn-primary dropdown-toggle", data: { toggle: 'dropdown' } do
                  %i.fas.fa-plus-circle.mr-1
                  Add new song
                .dropdown-menu
                  = link_to new_song_path, class: 'dropdown-item' do
                    %i.fas.fa-file-alt.mr-1.fa-fw
                    New blank song
                  %label.dropdown-item{ for: 'version_import' }
                    %i.fas.fa-file-upload.mr-1.fa-fw
                    Upload ChordPro, OnSong, file...

          .card-body
            %ul.versions
              - @user.versions.each do |version|
                %li
                  = link_to song_version_path(version.song, version), class: "version" do
                    - if version.lang
                      %i.version-icon{class: "flag-#{version.lang}"}

                    %div
                      %span.version-title= version.title
                      - if version.key.present?
                        in #{version.key}

                    - if version.author
                      .version-subtitle= version.author

        - elsif @user == current_user
          .card-body
            %p You have not added any songs to the database yet.
            = link_to new_song_path, class: 'btn btn-primary' do
              %i.fas.fa-plus-circle.mr-1
              Add your first song

        - else
          .card-body
            #{@user} has not added any songs to the
            database yet.

    .col
      %dl
        %dt Contributions
        %dd.lead= @user.versions.count

        %dt Member since
        %dd.lead= @user.created_at.strftime('%B %Y')

  - if @user == current_user
    .my-4.text-center
      = link_to logout_path, method: :delete, class: 'btn btn-sm btn-outline-secondary' do
        %i.fas.fa-sign-out-alt
        Sign out
