.container.center-form.my-4
  %h2 Change your password

  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!

    .form-group
      = f.label :password, 'New password'
      = f.password_field :password,
                         autofocus: true,
                         autocomplete: "off",
                         class: 'form-control',
                         required: true,
                         min_length: @minimum_password_length

    .form-group
      = f.label :password, 'Confirm new password'
      = f.password_field :password_confirmation,
                         autofocus: true,
                         autocomplete: "off",
                         class: 'form-control',
                         required: true,
                         min_length: @minimum_password_length

    .form-actions.mt-4.text-center
      = f.submit "Change my password", class: 'btn btn-primary px-5'

  = render "devise/shared/links"
