.container.center-form.my-4
  %h2 Forgot your password?

  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!

    .form-group
      = f.label :email
      = f.email_field :email,
                      autofocus: true,
                      autocomplete: "email",
                      class: 'form-control',
                      required: true

    .form-actions.mt-4.text-center
      = f.submit "Send me instructions", class: 'btn btn-primary px-5'

  = render "devise/shared/links"
