%dl.mb-0
  %dt Title
  %dd= @version.title

  - if @version.artists.present?
    %dt Artist
    %dd= @version.artist_names

  - if @version.composers.present?
    %dt Composer
    %dd= @version.composer_names

  - if @version.lyricists.present?
    %dt Lyricist
    %dd= @version.lyricist_names

  - if @version.key.present?
    %dt Key
    %dd= render_key @version.key

  %dt Uploaded by
  %dd
    = link_to @version.user, @version.user
