%ul.versions
  - @version.song.versions.each do |version|
    %li
      = link_to song_version_path(@version.song, version), class: "version #{'active' if version == @version}" do
        - if version.lang
          %i.version-icon{class: "flag-#{version.lang}"}

        %div
          %span.version-title= version.title
          - if version.key.present?
            in #{version.key}

        - if version.author
          .version-subtitle= version.author

  - if can? :create, Version
    %li
      = link_to new_song_version_path(@version.song), class: "version" do
        %i.version-icon.fas.fa-plus-circle.fa-fw
        .version-title
          Add new version
