.song
  = render '/versions/header'

  .container.margin-content
    .row
      .col.order-md-1
        %article.song-page.ml-auto
          = render '/versions/page'

      .col-md-5.no-print.order-md-0
        .card
          .card-body
            = render '/versions/description'

        - if user_signed_in?
          .card-title
            Setlists
          .card
            .card-body.py-2
              = render '/versions/setlists'

        .card-title
          Versions
        .card
          .card-body.py-2
            = render '/versions/versions'
