.song
  .navbar.navbar-expand-sm.no-print.bg-light
    .container
      - if @version.chords?
        %button.btn.btn-info.js-toggle-chords
          %i.fas.fa-check-square.mr-1
          Chords

      .ml-auto.d-flex
        = link_to 'javascript:window.print()',
                    class: 'btn btn-outline-secondary ml-2',
                    title: 'Print',
                    data: { toggle: 'tooltip' } do
          %i.fas.fa-print

        .dropdown
          = link_to 'javascript:void(0)',
                    class: 'btn btn-outline-secondary ml-2',
                    title: 'Download',
                    data: { toggle: 'dropdown', tooltip: true } do
            %i.fas.fa-cloud-download-alt

          .dropdown-menu.dropdown-menu-right

            = link_to song_version_path(@song, @version, format: 'chopro'), class: 'dropdown-item' do
              %i.fab.fa-chordpro.mr-1.fa-fw
              Download as Chordpro

            = link_to song_version_path(@song, @version, format: 'onsong'), class: 'dropdown-item' do
              %i.fab.fa-onsong.mr-1.fa-fw
              Download as OnSong

        - if can? :update, @version
          = link_to edit_song_version_path(@song, @version),
                    class: 'btn btn-primary ml-2',
                    title: 'Edit',
                    data: { toggle: 'tooltip' } do
            %i.fas.fa-pen

  .container.margin-content
    .row
      .col.order-md-1
        %article.song-page.ml-auto
          = render '/versions/page'

      .col-md-5.no-print.order-md-0
        .card
          .card-body
            = render '/versions/description'

        - if user_signed_in?
          .card-title
            Setlists
          .card
            .card-body.py-2
              = render '/versions/setlists'

        .card-title
          Versions
        .card
          .card-body.py-2
            = render '/versions/versions'
