.container.center-form.my-4
  %h2 Log in

  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

    .form-group
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', required: true

    .form-group
      = f.label :password
      = f.password_field :password, autocomplete: "off", class: 'form-control', required: true

    - if devise_mapping.rememberable?
      .form-group
        .custom-control.custom-checkbox
          = f.check_box :remember_me, class: 'custom-control-input'
          = f.label :remember_me, class: 'custom-control-label'

    .form-actions.mt-4.text-center
      = f.submit "Log in", class: 'btn btn-primary px-5'

  = render "devise/shared/links"
