#footer
  .container
    %div
      &copy;
      #{site_name} #{Date.current.year}
    %div.ml-auto
      = link_to 'Terms', terms_path
      &sdot;
      = link_to 'Privacy', privacy_path
      &sdot;
      = link_to 'https://github.com/sethjeffery/setlistdb', title: 'Github', target: '_blank' do
        %i.fab.fa-github
