%header#header
  %nav.navbar.navbar-expand-sm.no-print.bg-purple.navbar-dark
    .container
      = link_to site_name, '/', class: 'navbar-brand'

      %button.navbar-toggler{ type: "button", data: { toggle: "collapse", target: "#navbarSupportedContent" }, aria: { controls: "navbarSupportedContent", expanded: "false", label: "Toggle navigation" }}
        %span.navbar-toggler-icon

      .collapse.navbar-collapse#navbarSupportedContent
        %ul.nav.navbar-nav.ml-auto
          - if user_signed_in?
            %li.nav-item
              = link_to current_user, class: 'nav-link' do
                = image_tag current_user.image, class: 'avatar mr-2'
                = current_user.name
          - else
            %li.nav-item
              = link_to user_facebook_omniauth_authorize_path, class: 'nav-link' do
                %i.fab.fa-facebook-square.mr-1
                Sign in
