.navbar.navbar-expand-sm.no-print.bg-purple.navbar-dark
  .container
    = link_to 'Setlist.db', '/', class: 'navbar-brand'

    %ul.nav.navbar-nav.ml-auto
      %li.nav-item
        = link_to 'Songs', songs_path, class: 'nav-link'
      - if user_signed_in?
        %li.nav-item
          = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link'
      - else
        %li.nav-item
          = link_to 'Log in', new_user_session_path, class: 'nav-link'
        %li.nav-item
          = link_to 'Sign up', new_user_registration_path, class: 'nav-link'
