!!!
%html{ moznomarginboxes: true, mozdisallowselectionprint: true }
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    = display_meta_tags site: site_name, reverse: true
    = csrf_meta_tags
    = csp_meta_tag
    %meta{:charset => "utf-8"}
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:content => "en-GB", :name => "language"}
    %meta{:content => "en_GB", :name => "og:locale"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=4", :name => "viewport"}
    %meta{:content => "true", :name => "HandheldFriendly"}
    %meta{:content => "GB", :name => "geo.region"}
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}

    %link{ rel: "apple-touch-icon", sizes: "180x180", href: "/apple-touch-icon.png" }
    %link{ rel: "icon", type: "image/png", sizes: "32x32", href: "/favicon-32x32.png" }
    %link{ rel: "icon", type: "image/png", sizes: "16x16", href: "/favicon-16x16.png" }
    %link{ rel: "manifest", href: "/site.webmanifest" }
    %link{ rel: "mask-icon", href: "/safari-pinned-tab.svg", color: "#664b96" }
    %meta{ name: "apple-mobile-web-app-title", content: site_name }
    %meta{ name: "application-name", content: site_name }
    %meta{ name: "msapplication-TileColor", content: "#603cba" }
    %meta{ name: "theme-color", content: "#664b96" }

    = stylesheet_pack_tag 'application', media: :all, 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', async: true, defer: true

  %body
    = render '/application/header'
    #main
      = yield
    = render '/application/footer'

    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lobster|News+Cycle:400,700', media: :all
    = render 'gtag' if Rails.env.production?
